{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ MEDIA_URL }}web-design/home-page_small.jpg')">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">PROAVIATE LMS</h1>
          <h3>A modern platform to support your learning path towards aviation proficiency.</h3>
          <br>
          <h5>To access our e-learning content, please login. If you don't have an account yet, please register.</h5>
          <br>
          <a href="{% url 'account_signup' %}" class="btn btn-info btn-raised btn">
            <i class="fas fa-file-signature"></i> Register
          </a>
          <a href="{% url 'account_login' %}" class="btn btn-info btn-raised btn">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </div>
      </div>
    </div>
</div>

<div class="main main-raised">
	<div class="container">
		<div class="section text-center">
			<h2 class="title">Your main section here</h2>
		</div>
	</div>
</div>

{% include 'includes/footer/footer.html' %}

{% endblock %}

{% block postloadjs %}
{% endblock %}