{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="page-header header-filter" data-parallax="true" style="background-image: url('{{ MEDIA_URL }}web-design/home-page_small.jpg')">
  <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Our e-learning platform</h1>
          <h4>To support your learning path towards aviation proficiency.</h4>
          <h4>To access our e-learning content, please login.</h4>
          <br>
          <a href="#" target="_blank" class="btn btn-info btn-raised btn-lg">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </div>
      </div>
    </div>
</div>

<div class="main main-raised">
	<div class="container">
		<div class="section text-center">
			<h2 class="title">Your main section here</h2>
		</div>
	</div>
</div>

{% include 'includes/footer/footer.html' %}

{% endblock %}

{% block postloadjs %}
{% endblock %}