@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* ----------------------- NAVIGATION BAR ----------------------- */
.navbar-brand {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    font-size: 1.3rem !important;
}

.navbar-brand span {
    color: #00bcd4 !important;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar .material-icons {
    font-size: 1.5rem !important;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4) !important;
    background-color: #00bcd4 !important;
    color: #fff !important; 
}


/* ----------------------- FOOTER ----------------------- */ 
.footer ul li a {
    font-size: 0.9rem !important;
}

.footer ul li a:hover,
.footer ul li a:focus {
    color: #00bcd4;
}