{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="page-header header-filter transparent" style="background-image: url('{{ MEDIA_URL }}web-design/login_small.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          {% block inner_content %}
          {% endblock %}
        </div>
      </div>
    </div>

{% include 'includes/footer/footer.html' %}
</div>
{% endblock %}
