{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}



{% block inner_content %}
   
    <div class="card card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% trans "CONFIRM E-MAIL" %}</h4>
		</div>
		
        {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}
        
            <div class="card-body ">
                <br>
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="form-link" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            </div>
            <div class="card-footer justify-content-center">
                <form class="form" method="POST" action="{% url 'account_confirm_email' confirmation.key %}" novalidate>
                    {% csrf_token %}
                    
                        <button class="btn btn-info btn-primary btn-raised" type="submit">{% trans "Confirm" %}</button>
                </form> 
            </div>
        {% else %}

            {% url 'account_email' as email_url %}

            <div class="card-body ">
                <p>
                    {% blocktrans %}
                    <br>
                    <strong>This e-mail confirmation link expired or is invalid.</strong><br>
                    <br>
                    Please <a class="form-link" href="{{ email_url }}">issue a new e-mail confirmation request</a>.
                    <br>
                    <br>
                    {% endblocktrans %}
                </p>
            </div>

        {% endif %}
	</div>

{% endblock %}
