{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block inner_content %}

<div class="card card-hidden ">
    <div class="card-header card-header-info text-center">
		<h4 class="card-title">{% trans "E-MAIL ADDRESSES" %}</h4>
	</div>

    {% if user.emailaddress_set.all %}
        <div class="card-body">
            <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

            <form action="{% url 'account_email' %}" class="email_list" method="post">
            {% csrf_token %}
                <fieldset class="blockLabels">

                    {% for emailaddress in user.emailaddress_set.all %}
                    <div class="ctrlHolder form-check custom-radio">
                        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%} form-check-label">

                            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" class="form-check-input" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}">

                            {{ emailaddress.email }}
                            {% if emailaddress.verified %}
                                <small class="m-2">{% trans "Verified" %}</small>
                            {% else %}
                                <small class="m-2">{% trans "Unverified" %}</small>
                            {% endif %}
                            {% if emailaddress.primary %}
                                <small class="m-2">{% trans "Primary" %}</small>
                            {% endif %}
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    {% endfor %}

                    <div class="buttonHolder text-center">
                        <button class="btn btn-info btn-link p-1 m-0 text-capitalize small" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
                        <button class="btn btn-info btn-link p-1 m-0 text-capitalize small" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
                        <button class="btn btn-info btn-link p-1 m-0 text-capitalize small" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
                    </div>

                </fieldset>
            </form>

    {% else %}
            <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}

        {% if can_add_email %}
            <br>
            <hr>
            <br>
            <div class="text-center">
                <h4>{% trans "ADD E-MAIL ADDRESS" %}</h4>
            </div>
            <form method="post" action="{% url 'account_email' %}" class="add_email">
                {% csrf_token %}
                <div class="form-group has-info">{{ form.email | as_crispy_field }}</div>
                <div class="w-100 text-center">
                    <button class="btn btn-info btn-raised" name="action_add" type="submit">{% trans "Add e-mail" %}</button>
                </div>
            </form>
        {% endif %}
        </div>
</div>
{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
