{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block inner_content %}

<form class="form" method="POST" action="{% url 'account_login' %}" novalidate>
	{% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="card card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% trans "LOGIN" %}</h4>
		</div>
		<div class="card-body ">
            <p class="card-description text-center"><br>{% blocktrans %}Do you need account? Please
            <a class="form-link" href="{{ signup_url }}">register</a>. {% endblocktrans %}</p>
		    <div class="form-group has-info">{{ form.login | as_crispy_field }}</div>
            <div class="form-group has-info">{{ form.password | as_crispy_field }}</div>
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.remember }} Remember me
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
            <a class="form-link" href="{% url 'account_reset_password' %}">{% trans "Did you forget password?" %}</a>
        </div>
        <div class="card-footer justify-content-center">
            <button class="btn btn-info btn-primary btn-raised" type="submit">{% trans "Let's Go" %}</button>
        </div>
	</div>
</form>    

{% endblock %}
