{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}

<form class="form" method="POST" action="{% url 'account_logout' %}" novalidate>
	{% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="card card-login card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% trans "LOGOUT" %}</h4>
		</div>
		<div class="card-body ">
            <br>
            <br>
            <p class="card-description text-center"><strong>Do you wish to logout?</strong></p>
        </div>
        
        <div class="card-footer justify-content-center">
            <button class="btn btn-info btn-link" type="submit">{% trans "Logout" %}</button>
        </div>
	</div>
</form> 


{% endblock %}
