{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <div class="card card-login card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% trans "PASSWORD RESET" %}</h4>
		</div>
		<div class="card-body ">
            <p class="card-description text-center"><br>
                <strong>We have sent you an e-mail.</strong><br>
                <br>
                Please contact us if you do not receive it within a few minutes.
                <br>
                <br>
            </p>
	    </div>
    </div>
{% endblock %}