{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form class="form password_reset" method="POST" action="{% url 'account_reset_password' %}" novalidate>
        {% csrf_token %}
        <div class="card card-hidden">
            <div class="card-header card-header-info text-center">
                <h4 class="card-title">{% trans "PASSWORD RESET" %}</h4>
            </div>
            <div class="card-body ">
                <p class="card-description text-center"><br>
                    "Forgotten your password? <br>
                    Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it."
                </p>
                <div class="form-group has-info">{{ form.email | as_crispy_field }}</div>
            </div>
            <div class="card-footer justify-content-center">
                <button class="btn btn-info btn-primary btn-raised" type="submit">{% trans "Reset my password" %}</button>
            </div>
        </div>
    </form>  

{% endblock %}
