{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    
    <div class="card card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% if token_fail %}{% trans "BAD TOKEN" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}</h4>
		</div>
		{% if token_fail %}
            <div class="card-body ">
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            </div>
        {% else %}
            {% if form %}
                <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                    <div class="card-body ">
                        <div class="form-group has-info">{{ form.password1 | as_crispy_field }}</div>
                        <div class="form-group has-info">{{ form.password2 | as_crispy_field }}</div>
                    </div>
                    <div class="card-footer justify-content-center">
                        <input class="btn btn-info btn-primary btn-raised" type="submit" name="action" value="{% trans 'change password' %}"/>
                    </div>
                </form>
            {% else %}
                <div class="card-body ">
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
