{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block inner_content %}
    <div class="card card-login card-hidden">
        <div class="card-header card-header-info text-center">
            <h4 class="card-title">{% trans "Sign Up Closed" %}</h4>
        </div>
        <div class="card-body ">
            <p class="text-center">
                <br>
                    {% trans "We are sorry, but the sign up is currently closed." %}
                <br>
                <br>
            </p>
        </div>
    </div>
{% endblock %}
