{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    
    <div class="card card-login card-hidden">
		<div class="card-header card-header-info text-center">
			<h4 class="card-title">{% trans "VERIFY YOUR E-MAIL" %}</h4>
		</div>
		<div class="card-body ">
            <p class="card-description text-center"><br>
                <strong>We have sent an e-mail to you for verification.</strong><br>
                <br>
                Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
                <br>
                <br>
            </p>
	    </div>
    </div>

{% endblock %}
