  <footer class="footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="{% url 'home' %}">
              PROAVIATE
            </a>
          </li>
          <li>
            <a href="{% url 'home' %}">
              Home
            </a>
          </li>
          <li>
            <a href="#">
              Our Courses
            </a>
          </li>
          <li>
            <a href="#">
              Our Team
            </a>
          </li>
          <li>
            <a href="{% url 'contact' %}">
              Contact
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, by PROAVIATE
      </div>
    </div>
  </footer>
